.spawn-points {
    display: flex;
    flex-direction: column;
    height: 100%;

    .section-border {
        flex: 1;
    }

    .heading-secondary {
        max-width: 70%;
        white-space: pre-wrap;
        justify-self: center;
    }

    .map-container {
        display: flex;
        justify-content: center;
        padding: 0 5rem;
        gap: 1.5rem;
        flex-wrap: wrap;

        .map-card {
            position: relative;
            background-position: center;
            width: 350px;
            height: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 1rem;
            border: 2px solid rgba(192, 192, 192, 0.705);

            .map-detail {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 0.7rem;
                padding: 0.5rem 1rem;
                text-align: center;

                letter-spacing: 0.05em;

                .map-text {
                    font-size: 2rem;
                    font-weight: 900;
                    text-transform: uppercase;
                    color: #fff;
                    text-shadow:
                        -1px -1px 0 #0000008a,
                        1px -1px 0 #0000008a,
                        -1px 1px 0 #0000008a,
                        1px 1px 0 #0000008a,
                        0 0 6px var(--color-fatal-gold),
                        0 0 10px var(--color-fatal-gold);
                }
            }

            &:hover {
                border: 2px solid var(--color-fatal-gold);
                box-shadow:
                    0 0 5px var(--color-fatal-gold),
                    0 0 5px var(--color-fatal-gold),
                    0 0 5px var(--color-fatal-gold);
                filter: brightness(1.2);
            }
        }
    }

    .map-strategies {
        display: flex;
        gap: 3rem;
        justify-content: center;
        flex-wrap: wrap;

        .strategy-item {
            display: inline-block;
            width: 400px;
            text-decoration: none;
            box-sizing: border-box;

            .strategy-header {
                display: flex;
                align-items: center;
                font-size: 1.2em;
                color: #FFFFFF;
                background-color: #c23636;
                border-top-left-radius: 0.3rem;
                border-top-right-radius: 0.3rem;
                padding: 1rem;

                .strategy-title {
                    flex: 1;
                    word-break: break-word;
                    text-align: center;
                }
            }

            .strategy-vod {
                display: block;
                position: relative;
                background-position: center;
                width: 100%;
                height: 200px;
                background-repeat: no-repeat;
                background-size: cover;
                border: 2px solid rgba(255, 255, 255, 0.705);
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;

                &:hover {
                    filter: brightness(1.2);
                }

                .play-img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    height: 50px;
                    width: 50px;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    .back-btn {
        font-size: 2rem;
    }
}