<div class="spawn-points">
    @if(!isLoading) {
    <section class="section-bg_primary section-border">
        <div class="section-padding">
            <h2 class="heading-primary text-center">
                @if (selectedMap) {
                <a (click)="resetMapSelection()" class="no-underline">
                    <span class="text-gold gold-glow">
                        <i class='bx bx-arrow-back text-gold back-btn'></i>
                        {{ selectedMap.mapName?.toUpperCase() }}
                    </span>
                </a>
                } @else {
                <span class="text-gold gold-glow">
                    STRATEGIES
                </span>
                }
            </h2>
            <p class="heading-secondary text-center">

            </p>

            @if (this.isAuthenticated) {
            <div class="map-container" *ngIf="!selectedMap">
                <a *ngFor="let map of mapStrategies" (click)="selectMap(map)">
                    <div class="map-card" [style.background-image]="'url(' + map.mapImageUrl + ')'">
                        <div class="map-detail">
                            <span class="map-text">{{ map.mapName }}</span>

                        </div>
                    </div>
                </a>
            </div>

            <div class="map-strategies" *ngIf="selectedMap">
                <div class="strategy-item" *ngFor="let strategy of selectedMap.strategies">
                    <div class="strategy-header">
                        <span class="strategy-title">
                            {{ strategy.title }}
                        </span>

                        <a (click)="viewDescription(strategy)">
                            <i class="bx bx-info-circle ml-1"></i>
                        </a>
                    </div>

                    <a class="strategy-vod" [style.background-image]="'url(' + strategy.thumbnailUrl + ')'"
                        [href]="strategy.vodUrl" target="_blank">
                        <img class="play-img" src="assets/images/icons/youtube.png">
                    </a>
                </div>
            </div>
            } @else {
            <div class="locked-content">
                <a class="no-underline" routerLink="/login">
                    <div class="locked-details">
                        <i class='bx bxs-lock-alt'></i>
                        This content is for members only. Please login in to unlock this
                        content.
                    </div>
                </a>
            </div>
            }
        </div>
    </section>
    } @else {
    <app-loader class="center-xy" [isVisible]="true" *ngIf="isLoading" [height]="200"></app-loader>
    }
</div>