.font-italic {
  font-style: italic;
}

.font-weight-boldest {
  font-weight: 1000;
}

.nopadding {
  margin: 0 !important;
  padding: 0 !important;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.text-sm {
  -webkit-text-stroke-width: thin;
  font-size: 1rem !important;
}

.text-md {
  -webkit-text-stroke-width: thin;
  font-size: 2rem !important;
}

.text-l {
  -webkit-text-stroke-width: thin;
  font-size: 2.5rem !important;
}

.text-xl {
  -webkit-text-stroke-width: thin;
  font-size: 3.1875rem !important;
}

.text-divider {
  border-left: 1px solid $gray-4;
  height: 12.25px;
  margin: 0 0.5rem 1rem;
}

.text-center {
  text-align: center;
}

.text-gold {
  color: var(--color-fatal-gold);
}

.text-red {
  color: var(--color-void-accent);
}

.text-blue {
  color: $brand-light-primary;
}

.center-xy {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.breadcrumb-text--active {
  color: $gray-6;
  font-size: $base-size !important;
  font-weight: 600 !important;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 4;
}

.flex-6 {
  flex: 4;
}

.gold-glow {
  text-shadow: 0 0 5px rgba(255, 199, 44, 0.8), 0 0 10px rgba(255, 199, 44, 0.6);
}

.red-glow {
   text-shadow: 0 0 5px rgba(134, 32, 48, 0.8), 0 0 10px rgba(134, 32, 48, 0.6);
}

.blue-glow {
   text-shadow: 0 0 5px rgba(32, 102, 134, 0.8), 0 0 10px rgba(32, 102, 134, 0.6);
}

.white-glow {
   text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.6);
}