// COLORS
$brand-primary: #082971;
$brand-secondary: #862030;
$brand-dark-primary: rgb(19, 82, 138);
$brand-light-primary: #1245b4;
$brand-light-secondary: #992a3b;
$brand-dark-secondary: #6d1c28;

// #3b559f --Prediction
// #283b7b -- Monitoring
// #172355 -- Analysis
// #971b26 -- Reporting
// #e7363c -- Data housing
// #be2736 -- Data Management
// #f5f6fa -- Primary hover
// #ebf0ff -- Light Blue
// #fee6e8 -- Light Red

$white: #FFF;
$brand-primary-opacity-10: #0076bfb4; // Primary hover
$white-opacity-20: rgba(255, 255, 255, 0.2);

// Gray Section

$gray: #808080;
$gray-0: #f7f7f7; // SECONDARY HEADER TABLE
$gray-1: #f8f9fa; // LEFT PANEL NAV, LABELS
$gray-2: #e6e6e6; // BORDER COLOR
$gray-3: #dee2e6; // SOCIAL MEDIA LOGIN TEXT
$gray-4: #e6e6e6; // ARCHIVE BUTTON INACTIVE
$gray-5: #AFB3B1;
$gray-5-alt: #adb5bd; // ARCHIVE BUTTON ACTIVE
$gray-6: #aaa; // TABS
$gray-7: #495057; // BANNER LABEL
$gray-8: #343a40; // STATUS BAR CONTAINER
$gray-9: #3b3b3b; // PARAGRAPH
$gray-10: #707070; // TOOL TIPS
$gray-11: #7d807e; // GREY BOX IN TABLE
$gray-12: #534747; // HEADER

// Black Section

$black: #000;
$black-1: #502d2d; // TEXT COLORS, HEADER
$black-2: #3d0c0c; // SIGN UP BUTTON

// Other Section
$gold: #facc15;
$blue: #4ba1eb !default; // INFO
$navy-blue: #283b7b;
$purple: #6f42c1 !default;
$violet: #a74beb !default;
$red: #fc596f; // ERROR, DANGER
$pink: #e83e8c !default;
$orange: #ebad4b !default; // WARNING
$yellow: #ebdf4b !default; // PENDING
$green: #28a745 !default; // SUCCESS
$teal: #20c997 !default;
$cyan: #68e2e2 !default;
$indigo-light: #324892 !default;
$indigo-dark: #1f2d5e !default;
$light: #fcfaec !default;

// Opacity
$white-opacity-1: rgba($white, 0.1);
$white-opacity-10: rgba($white, 0.5);
$green-opacity-10: rgba($green, 0.1);
$red-opacity-1: rgba($red, 0.1);
$red-opacity-10: rgba($red, 0.5);
$gold-opacity-1: rgba($gold, 0.1);
$gold-opacity-10: rgba($gold, 0.5);

// Base size

$base-size: 14px;

// FONT SIZES & OTHER MEASUREMENTS

$font-family: "Inter";
$font-family-fontawesome: "Font Awesome 5 Free";
$h1-font: normal normal 700 24px / 1.3 $font-family;
$h2-font: normal normal 700 18px / 1.3 $font-family;
$h3-font: normal normal 700 16px / 1.3 $font-family;
$h4-font: normal normal 700 14px / 1.3 $font-family;
$h5-font: normal normal 700 12px / 1.3 $font-family;
$h6-font: normal normal 600 12px / 1.3 $font-family;
$p-font-size: normal normal 400 14px / 1.3 $font-family;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
