.file-container {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;

    .file-item {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;
        border: 1px solid #e1e1e1;
        padding: 1rem;
        border-radius: 0.5rem;
    }
}