<header class="top-nav">
  <nav class="top-nav__nav">
    <div class="top-nav__left">
      <div class="top-nav__header">
        <img class="portal-logo" src="assets/images/fatal-text.png" [width]="100">
      </div>
    </div>


    <div class="top-nav--middle">
      @if (isOnAdminSide()) {
      <app-nav-tabs [isAuthenticated]="isAuthenticated" [tabs]="adminTabs"></app-nav-tabs>
      } @else {
      <app-nav-tabs [isAuthenticated]="isAuthenticated" [tabs]="clientTabs"></app-nav-tabs>
      }

    </div>


    <div class="top-nav__right d-flex">
      @if(isAuthenticated) {
      <div class="action-group">

        @if (isOnAdminSide()) {
        <a class="btn btn-light" routerLink="/home"><i class="fa fa-house me-1"></i>
          Home</a>
        } @else {
        <a class="btn btn-light" routerLink="/admin" *ngIf="hasAdminAccess"><i class="fa fa-wrench me-1"></i>
          Admin Panel</a>
        }

        <!-- <a ngbTooltip="Notifications">
          <i class='bx bxs-bell disabled'></i>
        </a>

        <a ngbTooltip="Messages">
          <i class='bx bxs-envelope disabled'></i>
        </a> -->

        <ng-template #popContent><app-user-menu (onClosed)="popover.close()"></app-user-menu></ng-template>
        <button type="button" class="btn image-btn" placement="bottom-right" #popover="ngbPopover"
          [ngbPopover]="popContent" popoverClass="popover-user-menu" [autoClose]="'outside'"
          [ngStyle]="{'background-image': 'url(' + profileImgUrl + ')'}"></button>
      </div>
      } @else {
      <div class="button-container">
        <button type="button" class="btn btn-outline-white" routerLink="/register">
          <i class='fa fa-user me-1'></i> Register
        </button>

        <button type="button" class="btn btn-outline-gold" routerLink="/login">
          <i class='fa fa-right-to-bracket me-1'></i> Login
        </button>
      </div>

      }
    </div>
  </nav>
</header>