.my-profile {
    display: flex;
    flex-direction: column;
    height: 100%;

    .section-border {
        flex: 1;
    }

    .section-padding {
        justify-items: center;
    }

    .heading-secondary {
        max-width: 70%;
        white-space: pre-wrap;
        justify-self: center;
    }

    .profile-container {
        background: rgb(0 0 0 / 25%);
        padding: 2rem;
        border-radius: 1rem;

        label {
           color: #FFF;
            letter-spacing: 0.050em;
            font-size: 0.9rem;
            font-weight: 700;
        }

        .input-field {
            font-size: 1.1rem;
            letter-spacing: 0.15em;
        }

        ::ng-deep {

            .p-tablist-content .p-tablist-tab-list,
            .p-tabpanels {
                background: transparent;
            }

            .p-tab-active {
                color: gold;
                border-color: gold;
            }

            .p-tablist-active-bar {
                background: gold;
            }
        }

        .account-panel {
            width: 500px;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
}