.loader {
    display: block;
    align-content: center;
}

.loader-icons {
    display: flex;
    gap: 0.5rem;

    i {
        height: 20px;
        width: 20px;
    }
}

.loading-logo {
    width: 80px;
    animation: coinFlipHorizontal 1.3s ease-in-out infinite;
    transform-style: preserve-3d;
}

@keyframes coinFlipHorizontal {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}