.admin-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  height: 100%;
  overflow-y: auto;
  background-color: rgb(241 241 241);

  &__header {
    padding: 0.75rem 1.5rem;
    background: $brand-secondary;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;

    .back-button {
      display: inline-block;
      vertical-align: middle;
      margin-top: 0.2rem;
      margin-right: 0.5rem;
      color: $white;
    }
  }

  &__body {
    flex: 1;
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    padding: 1.5rem 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: $white;
  }
}