@import "../../sass/base/variables";

// MAIN PAGE BASE

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-page {
  display: flex;
  flex: 1;

  .main-content {
    height: 100%;
    overflow: hidden;
    padding: 0.75 * $base-size;

    &__container {
      flex: 1;
      overflow-x: hidden;
      overflow-y: inherit;

      @media (max-width: 991px) {
        flex-direction: column;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: inherit;
  }
}

// Page layout

.page {
  padding: 1.5rem;
  height: 100%;

  &__header {
    margin-bottom: 1rem;
  }

  &__title {
    color: $gray-12;
  }

  &__footer {
    position: absolute;
    padding: 0.5rem 1.5rem;
    background-color: $brand-primary-opacity-10;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;

    // For page footer min width of btn is 170

    .btn-primary, .btn-outline {
      min-width: 12.143 * $base-size;
    }

    &--between {
      justify-content: space-between;
    }

    &--right {
      justify-content: flex-end;
    }

    &--center {
      justify-content: middle;
    }

    &__left,
    &__right {
      display: flex;
      white-space: nowrap;
    }
  }

  // Modifier

  &--data-import {
    padding: 1.5rem 0 3rem;
    height: unset;

    .page__header {
      padding: 0 1.5rem;
    }

    .page__body {
      padding: 0 1.5rem;
      height: unset;
    }
  }

  &--programme-details,
  &--resources,
  &--list {
    display: flex;
    padding: 0;
    height: unset;

    .page__sidenav {
      width: 400px;

      .pagination {
        position: relative !important;
        bottom: unset;
        left: unset;

        &__left,
        &__right {
          display: flex;
          color: $brand-primary;

          .btn-icon {
            padding: 0 !important;
          }
        }

        &__counter {
          white-space: nowrap;
          color: $brand-primary;
          font-size: 0.75rem;
          gap: 0.25rem;
          font-weight: bold;
        }
      }
    }

    .page__content {
      padding: 1rem;
      width: 100%;
      position: relative;
      overflow-y: auto;

      &--shadow {
        margin: 1.5rem;
        box-shadow: 0 3px 8px 4px $gray-2;
      }

      &--programme-details {
        padding: 1.5rem 2.5rem;
      }

      &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        &__middle {
          margin-right: 24rem;
          text-align: center;

          .label-container {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
          }
        }
      }
    }

    .card {
      padding: 1rem .5rem 0;
      margin: 1rem 1rem 0;
      border-radius: 0;
      border: 0 !important;
      border-bottom: solid 1px $gray-3 !important;
    }
  }
}

@include media-breakpoint-down(xxl) {
  .page__content__header {
    &__middle {
      margin-right: 0 !important;
    }
  }
}

.toast-top-center {
  margin-top: 2.5%;
}


.main-footer {
  color: $white;
  background-color: #212121;
  display: flex;
  justify-content: space-between;
    padding: 1rem 2rem;

  .footer-left,
  .footer-right {
    display: flex;
    gap: 1rem;
  }

  a,
  span {
    color: $gray-6;
  }

  a {
    text-decoration: unset;
  }

  .footer-msg {
    display: block;
    width: 100%;
    text-align: center;
  }
}