.spawn-points {
    display: flex;
    flex-direction: column;
    height: 100%;

    .section-border {
        flex: 1;
    }

    .heading-secondary {
        max-width: 70%;
        white-space: pre-wrap;
        justify-self: center;
    }

    .map-container {
        display: flex;
        justify-content: center;
        padding: 0 5rem;
        gap: 1.5rem;
        flex-wrap: wrap;

        .map-card {
            position: relative;
            background-position: center;
            width: 350px;
            height: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 1rem;
            border: 2px solid rgba(192, 192, 192, 0.705);

            .map-detail {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 0.7rem;
                padding: 0.5rem 1rem;

                letter-spacing: 0.05em;

                .map-text {
                    font-size: 2rem;
                    font-weight: 900;
                    text-transform: uppercase;
                    color: #fff;
                    text-shadow:
                        -1px -1px 0 #0000008a,
                        1px -1px 0 #0000008a,
                        -1px 1px 0 #0000008a,
                        1px 1px 0 #0000008a,
                        0 0 6px var(--color-fatal-gold),
                        0 0 10px var(--color-fatal-gold);
                }
            }

            &:hover {
                border: 2px solid var(--color-fatal-gold);
                box-shadow:
                    0 0 5px var(--color-fatal-gold),
                    0 0 5px var(--color-fatal-gold),
                    0 0 5px var(--color-fatal-gold);
                filter: brightness(1.2);
            }
        }
    }

    .selected-map {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        padding: 0 2rem;

        .side-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-radius: 0.5rem;
            padding: 1rem;

            .side-card {
                flex: 1;

                img {
                    height: 100%;
                    border: 2px solid #FFF;
                    border-radius: 0.7rem;
                }
            }

            &.red-side {
                background-color: rgb(51 11 11);
            }

            &.blue-side {
                background-color: rgb(8 23 43);
            }
        }
    }

    .back-btn {
        font-size: 2rem;
    }
}