:host {
    display: block;
    height: 100vh;
}

.change-message {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    .message-title {
        color: #FFFFFF;
        font-weight: 700;
    }

    .message-detail {
        max-width: 50%;
        color: #FFFFFF;
    }
}