.dropdown-menu {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 100%;

  .dropdown-item {
    transition: 0.05s background ease-in;
    color: $black;
    font-size: 14px !important;

    &:hover {
      background: $gray-4;
    }
  }
}

.ui-chkbox {
  @include flex-centered;

  width: 25px !important;
  height: 25px !important;

  .ui-chkbox-box.ui-state-active {
    border-color: $gray-8 !important;
    background-color: $indigo-dark !important;
  }

  .ui-chkbox-box {
    @include flex-centered;

    width: 25px !important;
    height: 25px !important;

    &.ui-state-focus {
      box-shadow: 0 0 0 0.2em $gray-5 !important;
      border-color: $gray-5 !important;
    }
  }
}

.pagination {
  margin: 0;
  justify-content: middle;
}

// .form-group {
//   & label {
//     font-size: 0.8rem !important;
//     font-weight: 400 !important;
//     // text-transform: uppercase;
//   }
// }

.page-item {
  .page-link {
    border-radius: 0;
    border: 0;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;

    &:active {
      background-color: $indigo-dark;
      color: $white;
    }

    &:active,
    &:focus {
      box-shadow: none;
    }
  }

  &.previous {
    margin: 0 auto 0 0;
  }

  &.next {
    margin: 0 0 0 auto;
  }
}

.toast-container .ngx-toastr {
  padding-left: 60px !important;
}

.toast-container {
  padding-top: 10px;
}

/* bootstrap modal */

.modal-header {
  color: $black;
  font-size: 0.85rem;
  border-bottom: 0 !important;
  padding-bottom: 0.5rem !important;
}

.modal-content {
  border: none !important;
  padding: 1.25rem 1.85rem;
}

.modal-body {
  overflow-y: auto;
}

.modal-footer {
  border-top: 0 !important;

  &__right {
    display: flex;
    justify-content: flex-end;

    .btn {
      display: inline;
      width: 140px;
    }
  }
}

/* bootstrap button */

.btn-sm {
  font-size: 0.8rem !important;
}

/* table */

.table__body {
  vertical-align: middle;
}

/* PrimeNG table */

.custom-ng-select {
  width: 100% !important;

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    background: $indigo-dark;
    color: $white;
  }

  .ng-option.ng-option-marked:hover {
    background: $blue;
    color: $white;
  }

  .ng-select-container {
    border-radius: 0.3em !important;
    border: 2px solid $gray-4 !important;

    .ng-value-container .ng-value {
      background-color: $indigo-dark !important;
      color: $white !important;
    }
  }

  &.ng-select-focused .ng-select-container {
    border: 2px solid $indigo-dark !important;
    box-shadow: none !important;
  }
}

.ngb-dp-week-number,
.ngb-dp-weekday {
  font-style: normal !important;
  color: $black !important;
}

.custom-click-hover {

  .fa,
  .fas,
  .feather {
    cursor: pointer;

    &.disabled {
      opacity: 0.6;
      cursor: not-allowed;
      pointer-events: unset;
    }
  }
}

.custom-button-color {
  background-color: $indigo-dark !important;
  border-color: $indigo-dark !important;
}

.custom-icon {
  &:disabled {
    opacity: 0.2 !important;
  }
}

.custom-popover {
  margin-top: 0.25rem;
  box-shadow: 0 3px 8px 4px $gray-4;
  border: 1px solid $gray-4;
}

.error-message {
  color: $red;
  font-size: 0.8875 * $base-size;
  margin: 1rem 0;
  text-align: center;

  i.fas {
    margin-right: 0.5 * $base-size;
  }
}

p-datepicker.ng-invalid {
  input {
    border-color: #fc596f;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23fc596f'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23fc596f' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }
}

.horizontal-line {
  border-top: 2px solid #e3e3e3;
  margin: 1rem 0;
  width: 100%;
}

.vertical-line {
  border-left: 2px solid #e3e3e3;
  margin: 0.1rem 0;
}

.p-floatlabel label.top-label {
  top: 0 !important;
  transform: translateY(-50%) !important;
  color: var(--p-floatlabel-focus-color) !important;
  font-size: var(--p-floatlabel-active-font-size) !important;
  font-weight: var(--p-floatlabel-label-active-font-weight) !important;
  background: var(--p-floatlabel-on-active-background);
  padding: var(--p-floatlabel-on-active-padding);
}

.img-round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid $brand-primary;
  object-fit: cover;

  .img-round__sm {
    width: 50px;
    height: 50px;
  }

  .img-round__md {
    width: 85px;
    height: 85px;
  }

  .img-round__lg {
    width: 120px;
    height: 120px;
  }
}

.speech-bubble__top-left {
  display: block;
  position: relative;
  background: $gray-4;
  padding: 12px 16px;
  border-radius: 16px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent $gray-4 $gray-4;
    transform: rotate(-45deg);
    transform-origin: top left;
    margin-left: -10px;
  }
}

.no-underline {
  text-decoration: unset;
}