// NGBDROPDOWN

.ngb-dropdown.dropdown {
  display: inline-block;
  width: 100% !important;

  button.btn-outline,
  button.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: $gray-4 !important;
    text-align: left;
    padding-right: 0.9375rem !important;
    height: 2.5rem !important;
    font-size: 12px !important;
    width: 100% !important;
    color: $gray-6;

    &.is-invalid {
      border-color: $red !important;
    }

    &::placeholder {
      font-size: 0.875rem !important;
      color: $gray-6 !important;
    }

    &::after {
      content: initial;
    }

    &:active {
      background-color: $white;
      border-color: $gray-5;
      color: $brand-primary;
    }

    &:disabled {
      background-color: $gray-2;
    }

    &.selected {
      color: $black;
    }
  }

  i.fa {
    color: $gray-6;
    background-color: $white;

    &:hover {
      background-color: $gray-2;

      i.fa {
        background-color: $gray-2;
      }
    }
  }
}

.ngb-dropdown {
  &.is-invalid {
    border: 1px solid $red;
  }
}

.dropdown-menu.show {
  border: 1px solid $gray-2;
  box-shadow: 0 10px 15px rgba($black-1, 0.1);
  background-color: $white !important;
  color: $brand-primary !important;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  display: block;
  text-overflow: ellipsis;

  .dropdown-item {
    font-size: 0.875 * $base-size;
    display: flex;
    align-items: center;
    word-break: break-word;
    white-space: normal;
  }
}

// PRIME Dropdown
.prime-dropdown-default {
  padding: 0.5rem 0.5rem;
}

.dropdown-group {
  
  .filter-dropdown {

    .p-select { 
      width: 200px;
    }
  }
}

.statistics-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  
  .filter-dropdown {
    flex: 1;

    &.p-select {
      width: 100%;
    }
  }
}

.filter-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .p-inputtext {
    height: 100%;
    width: 100%;
  }

  .p-multiselect, .p-select {
    height: 100%;
    width: 100%;
    min-width: 250px;
  }

  .p-datepicker {
    height: 100%;
    width: 100%;
    min-width: 250px;
  }
}
.p-treeselect {
  width: 225px;
  align-items: center;

  .p-checkbox {
    margin-right: 0.5rem;

    .p-checkbox-box {
      border: 2px solid #d1d5db;
    }
  }

  .p-treenode-icon {
    margin-right: 0.5rem;
  }

  ul.p-tree-container {
    margin: 0;
    padding: 0;
  }

  .p-treeselect-token {
    padding: 0 0.5rem;
    margin: 0 0.3rem;
  }
}


.filter-dropdown {
  &.portal-menu {
    margin: 0 2rem;

    &.p-select {
      width: 225px;
      max-width: 250px;
    }
  }

  .p-datepicker {
    min-width: 210px;

    .p-datepicker-input {
      font-size: 14px;
    }
  }

  .p-treeselect {
    max-height: 40px;
  }

  &.p-multiselect {
    max-height: 40px;
  }


  &.p-select {
    height: 40px;
    max-height: 40px;
    max-width: 200px;
    padding-left: 0.5rem;
    vertical-align: middle;
    align-items: center;
    border: 2px solid #c3c3c33d;
    border-radius: 0.5rem;

    .p-select-items {
        padding-left: unset !important;
    }

    .p-select-item {
        padding: 0.4rem 1rem;
    }
  }
}

.dashboard-card {
  .dropdown-group {
    padding: 1rem 1.5rem;
    justify-content: space-between;
  }
}

.dashboard-report {
  .dropdown-group {
    display: flex;
    gap: 1rem;
  }
}
