// FORM-GROUP

.form {
  &__header {
    align-items: center;
    color: $gray-9;
  }
}

.form-group {
  margin-bottom: 1rem;
  position: relative;
  align-items: center;

  // Label and form-control inline modifier

  &__icon {
    &--flex {
      position: absolute;
      width: auto;
      bottom: 4px;
      right: 10px;
      margin-top: 0;

      i.fa {
        color: $gray-2;
      }

      &:hover {
        i.fa {
          color: $black-1;
        }
      }
    }

    &--inline {
      position: absolute;
      width: auto;
      bottom: .4rem;
      right: 1.75rem;
      margin-top: 0;

      i.fa {
        color: $gray-2;
      }

      &:hover {
        i.fa {
          color: $black-1;
        }
      }
    }
  }

  &--inline {
    display: grid;
    gap: 0.75rem;
    align-items: center;
    grid-template-columns: 0.05fr 1fr;
    margin-bottom: 0 !important;

    label {
      white-space: nowrap;
      margin-bottom: 0;
      font-weight: bold;
      font-size: 0.875 * $base-size;
      color: $gray-9;
    }
  }

  &--flex {
    display: flex;
    grid-gap: 0.75rem;
    align-items: center;
    justify-content: center;

    label {
      margin-bottom: 0;
      white-space: nowrap;
    }
  }

  // Size modifier

  &--sm {
    .form-control {
      width: 4rem;
    }
  }

  &--xsm {
    .form-control {
      width: 7rem;
    }
  }

  &--lg {
    .form-control {
      width: 12rem;
    }
  }

  .error-message {
    color: $red;
    font-size: 0.6875 * $base-size;
    margin-top: 0.25 * $base-size;

    i.fas {
      margin-right: 0.5 * $base-size;
    }
  }

  .warning-feedback {
    color: $orange;
    font-size: 0.875 * $base-size;

    i {
      color: $orange;
      height: 6px;
      width: 6px;
    }
  }

  label {
    color: $gray-9;
    font-size: 0.875 * $base-size;
    font-weight: bold;
    display: block;
    align-items: center;
    white-space: nowrap;

    i {
      color: $gray-10;
      font-size: $base-size;
      align-self: flex-end;
    }
  }

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }

  .p-datepicker {
    width: 100%;
  }
}

// FORMS

.form-control {
  font-size: 0.875rem !important;
  height: 2.5rem !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  position: relative;

  // ERROR-STATE INPUT

  &.is-invalid {
    border-color: $red !important;
  }

  // WARNING-STATE INPUT

  &.is-warning {
    border-color: $orange !important;
  }

  &::placeholder {
    color: $gray-6 !important;
  }

  // INPUT HIGHLIGHT

  &:focus {
    border-color: $gray-6 !important;
    box-shadow: none !important;
    outline: 0 none !important;
  }

  &:disabled,
  &[readonly] {
    background-color: $gray-1 !important;
    color: $gray-7 !important;
  }
}

// FORMS

.form-textarea {
  border-color: $gray-4 !important;
  font-size: 0.875rem !important;
  height: 7.5rem !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  position: relative;

  // ERROR-STATE INPUT

  &.is-invalid {
    border-color: $red !important;
  }

  // WARNING-STATE INPUT

  &.is-warning {
    border-color: $orange !important;
  }

  &::placeholder {
    color: $gray-6 !important;
  }

  // INPUT HIGHLIGHT

  &:focus {
    border-color: $gray-6 !important;
    box-shadow: none !important;
    outline: 0 none !important;
  }

  &:disabled,
  &[readonly] {
    background-color: $gray-1 !important;
    color: $gray-7 !important;
  }
}

// SEARCH FIELD

.search-group {
  position: relative;

  input {
    width: -webkit-fill-available;
  }

  button {
    align-items: center;
    background-color: $brand-primary;
    border: 0;
    border-radius: 5px;
    color: $white;
    display: flex;
    height: 1.875 * $base-size;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 0.4 * $base-size;
    top: 0.3 * $base-size;
    width: 2 * $base-size;

    i {
      font-size: 0.65 * $base-size;
    }
  }

  &__icon {
    position: absolute;
    top: 55%;
    left: .65rem;
    transform: translateY(-50%);
    z-index: 9;
    color: $gray-3;
    line-height: 1;

    &--right {
      right: 0.938rem;
      left: auto;
    }

    .fa,
    i.bx {
      font-size: 1.25rem;
    }

    &:hover {
      color: $black;
    }
  }

  .form-control {
    width: -webkit-fill-available;
    box-sizing: border-box;
    padding-left: 2.0rem;
    padding-right: 2.5rem;
    max-width: 18.75rem;

    &-sm {
      max-width: 12rem;
    }

    &::placeholder {
      color: $gray-2;
    }
  }
}

// PARAGRAPH

p {
  color: $gray-9;
  letter-spacing: 0.4px;
  line-height: 1.7;
}

select option:hover,
select option:focus,
select option:active {
  background-color: $brand-primary;
}

.label-with-description {
  margin-bottom: 0.375 * $base-size;
}

.form-description {
  color: $brand-primary;
  font-size: 0.75 * $base-size;
  margin-bottom: 0.5 * $base-size;

  // &__footer {
  //   align-items: center;
  //   background-color: $white;
  //   bottom: 0;
  //   display: flex;
  //   justify-content: flex-end;
  //   margin-left: -2 * $base-size;
  //   margin-right: -2 * $base-size;
  //   padding: 0.5 * $base-size 2 * $base-size;
  //   position: fixed;
  //   width: 100%;
  //   z-index: 999;

  //   &__btn {
  //     gap: 5px;
  //     margin-bottom: $base-size;
  //   }

  //   .btn-outline {
  //     margin-right: 0.25 * $base-size;
  //   }
  // }

  // &__section {
  //   align-items: center;
  //   display: flex;
  //   justify-content: space-between;
  //   margin-top: 2 * $base-size;
  // }

  &__checkbox {
    height: $base-size !important;
    outline: $brand-primary !important;
    width: $base-size !important;
  }

  &__section {
    margin-bottom: 1.25 * $base-size;
    color: $gray-9;
  }
}

// TEXTAREA

textarea {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
}

.field-group {
  border: 1px solid #d7d7d7;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  height: 100%;

  legend {
    float: unset;
    width: unset;
    margin: 0 1rem;
    padding: 0 1rem;
    font-size: 1.5em;
    color: rgb(63, 138, 199);
  }
}

.config-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}