.upload-file-list {
  height: 100%;
  width: 100%;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7%;
  }

  &__body {
    height: 68%;

    &__list-container {
      height: 100%;
      width: 100%;
      overflow: scroll;

      &__file-preview {
        display: flex !important;
        flex-direction: column !important;
        height: max-content;
        margin: 0 !important;
        margin-bottom: 10px;

        .details-container {
          display: flex;
          flex-direction: row;
          height: 100%;

          &__details {
            display: flex;
            flex-direction: column;
            padding: 0.7 * $base-size;
            width: 50%;
            height: 100%;
          }

          .btn-container {
            display: flex;
            width: 50%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .progress-bar-container {
          height: 1.2 * $base-size;
          width: 100%;
        }
      }
    }

    &__empty-state-container {
      height: 100%;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;

    // background-color: red;

    &__button {
      height: 30%;
    }
  }
}
