<div class="admin-content">
    <div class="admin-content__header">Players</div>

    <div class="admin-content__body">
        <ng-container *ngIf="!isLoading">
            <fieldset [disabled]="isDataLoading">
                <div class="d-flex justify-content-end mx-3">
                    <div class="filter-group">
                        <button class="btn btn-outline-secondary" raised name="btnAdd" (click)="addPlayer()">Add
                            Player</button>
                    </div>
                </div>
            </fieldset>

            <div class="row" *ngIf="!isDataLoading">
                <p-table [value]="players" stripedRows [tableStyle]="{'min-width': '50rem'}"
                    [paginator]="players?.length > 10" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]"
                    [showCurrentPageReport]="true" [scrollable]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    paginatorStyleClass="mt-3">
                    <ng-template pTemplate="header" #header>
                        <tr>
                            <th pSortableColumn="playerName">Player <p-sortIcon field="playerName" /></th>
                            <th pSortableColumn="description">Description <p-sortIcon field="description" /></th>
                            <th pSortableColumn="isActive">Status <p-sortIcon field="isActive" /></th>
                            <th pSortableColumn="isLineup">Lineup <p-sortIcon field="isLineup" /></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-player>
                        <tr>
                            <td class="cell-wrap">{{player?.playerName}}</td>
                            <td class="cell-wrap">{{player?.description}}</td>
                            <td><p-tag [value]="player.isActive ? 'Active' : 'Inactive'"
                                    [severity]="player.isActive ? 'success' : 'danger'" />
                            </td>
                            <td><i class="bx bxs-star text-gold" *ngIf="player.isLineup"></i></td>
                            <td class="text-center" exportable="false" alignFrozen="right">
                                <div class="action-btn" *ngIf="!player?.isLoading">
                                    <a class="text-dark" ngbTooltip="Edit" (click)="editPlayer(player)"><i
                                            class='bx bx-edit'></i></a>

                                    <a class="text-dark" ngbTooltip="Delete" (click)="promptDeletePlayer(player)"><i
                                            class='bx bx-trash-alt'></i></a>
                                </div>

                                <i class="spinner-border spinner-border-sm text-primary" *ngIf="player?.isLoading"></i>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template #emptymessage>
                        <tr>
                            <td colspan="4" class="text-center">No available players</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </ng-container>

        <app-loader [isVisible]="true" *ngIf="isLoading || isDataLoading" [height]="350"></app-loader>
    </div>
</div>