<div class="password-panel">
    <h4 class="text-white text-center d-block py-3">UPDATE PASSWORD</h4>

    @if (!showResult) {
    <form class="form" #resetForm="ngForm">
        <div class="row">
            <div class="col-12 form-group">
                <label for="txtCurrPassword">CURRENT PASSWORD <span class="text-danger">*</span></label>
                <input class="input-field form-control ng-invalid ng-dirty" pInputText id="txtCurrPassword"
                    name="txtCurrPassword" type="password" #txtCurrPassword="ngModel" [(ngModel)]="currentPassword"
                    placeholder="Password must be at least 8 characters"
                    [ngClass]="{'ng-invalid': txtCurrPassword.invalid && isSubmitted}" required />

                <small class="text-danger" *ngIf="!validCurrentPassword">
                    The current password you entered is incorrect. Please try again.
                </small>
            </div>

            <div class="col-12 form-group">
                <label for="txtNewPassword">NEW PASSWORD <span class="text-danger">*</span></label>
                <input class="input-field form-control ng-invalid ng-dirty" pInputText id="txtNewPassword"
                    name="txtNewPassword" type="password" #txtNewPassword="ngModel" [(ngModel)]="newPassword"
                    placeholder="Password must be at least 8 characters"
                    [ngClass]="{'ng-invalid': txtNewPassword.invalid && isSubmitted}" minlength="8" required />


                @if (txtNewPassword.invalid && isSubmitted) {
                <small class="text-danger" *ngIf="txtNewPassword.errors?.['minlength']">
                    Password must be at least 8 characters long.
                </small>
                }

            </div>

            <div class="col-12 form-group">
                <label for="txtConfNewPassword">CONFIRM NEW PASSWORD <span class="text-danger">*</span></label>
                <input class="input-field form-control ng-invalid ng-dirty" pInputText id="txtConfNewPassword"
                    name="txtConfNewPassword" type="password" #txtConfNewPassword="ngModel"
                    [(ngModel)]="confirmNewPassword" placeholder="Password must be at least 8 characters"
                    [ngClass]="{'ng-invalid': txtConfNewPassword.invalid && isSubmitted}" minlength="8" required />
            </div>
        </div>

        <small class="d-block text-danger mt-3" *ngIf="!passwordMatch">
            The passwords you entered do not match. Please try again.
        </small>
    </form>

    <div class="d-flex gap-3 justify-content-center pt-4">
        <p-button label="UPDATE" class="w-100" styleClass="btn btn-secondary w-100" [loading]="isUpdating"
            (onClick)="update(resetForm.form?.valid)" />
        <button type="button" class="btn btn-light w-100" (click)="cancel()" [disabled]="isUpdating">CANCEL</button>
    </div>

    } @else {
    <div class="change-message">
        <img src="assets/images/system/check.png" [width]="50">
        <span class="d-block mt-3">
            Password has been updated.
        </span>

        <button type="button" class="btn btn-secondary w-100 mt-3" (click)="cancel()">OK</button>
    </div>
    }
</div>